.cfg
.cache
.mozilla
.ssh
wallpapers
Download
.vscode-oss
.config/Code*
.local/share/Trash
.config/pulse
.local/share
Documents
documents
Downloads
downloads
sources
Sources
.gnupg
.pki
.config/pavucontrol.ini
.themes
.config/BraveSoftware
.bash_history
.bash_logout
