* {
    font-family: monospace;
    font-size: 13px;
}

window#waybar {
    background-color: #24283b;
    color: #7aa2f7;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 5px;
    background-color: #24283b;
    color: #7aa2f7;
    /* color: #ffffff; */
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #7aa2f7;
    color: #24283b;
}

#workspaces button.urgent {
    background-color: #f7768e;
    color: #24283b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#wireplumber,
#tray,
#mode,
#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#window {
  color: white;
}
